body{
    min-height: 100vh;
    background-image: linear-gradient(180deg,#9932CC,#63B8FF);
}
.carousel-inner{
    left: 24%;
    width: 50%;

    
}
div#msg-sucesso{
    margin:10px auto;
    padding: 10px;
    background-color: rgba (250, 128, 114,.3);
}
div.msg-erro{
    background-color: rgba (250, 128, 114,.3);
}